[submodule "suinova-builder"]
	path = suinova-builder
	url = git@github.com:VAR-META-Tech/suinova-builder.git
[submodule "suinova-component-store"]
	path = suinova-component-store
	url = git@gitlab.var-meta.com:sui-nova/sui-component-store.git
[submodule "suinova-indexer"]
	path = suinova-indexer
	url = git@gitlab.var-meta.com:sui-nova/sui-indexer.git
[submodule "suinova-smartcontract"]
	path = suinova-smartcontract
	url = git@github.com:VAR-META-Tech/suinova-smartcontract.git
